<div class="benefits-values-comp">
    <section id="benefits">
        <h2>Benefits of Kung Fu</h2>

        <ul>
            <li>strengthens external and internal muscles, including core muscles</li>
            <li>tones up involuntary muscles of the internal organs</li>
            <li>improves blood and chi氣 circulation throughout all the meridians</li>
            <li>cultivates chi氣 (energy) and jing精 (vitality) in the dan tien丹田(reservoir below the belly button)</li>
            <li>builds anaerobic and aerobic conditionings</li>
            <li>calms the mind and spirit神</li>
            <li>toughens bone, skin, muscles, sinews, and mind</li>
            <li>enhances function and health of the eleven internal organs五臟六腑</li>
            <li>speed up reflexes and agility</li>
            <li>harmonizes the yin陰 and yang陽 in the body</li>
            <li>learns self-defense techniques</li>
            <li>increases flexibility of muscles and joints</li>
            <li>achieves better stability and balance</li>
            <li>relieves stress and tension physically and mentally</li>
            <li>burns calories and lose weight while having fun</li>
            <li>develops an outstanding character by understanding our values and philosophy</li>
            <li>understands the camaraderie of a kung fu family</li>
            <li>keeps ones looking young and radiant</li>
            <li>prolongs quality of life and longevity</li>
        </ul>
    </section>

    <section id="values">
        <h2>Values</h2>

        <ul>
            <li>Loyalty 忠誠 – commit to your art, school, marriage, friends, work</li>
            <li>Respect 尊敬 – respect your teacher, sifu, parent, elderly, ancestor</li>
            <li>Honor 尊嚴 – have integrity and dignity to yourself, family, and the art of kung fu</li>
            <li>Kindness 仁慈 – be kind and compassionate to all living things</li>
            <li>Courage 勇敢 – conquer your fear</li>
            <li>Righteousness 義 – enforce justice by defending the weak from unfairness</li>
            <li>Moral 道德 – know right from wrong behavior</li>
            <li>Strength 強壯 – keep your body strong including muscles, chi, bone, sinew</li>
            <li>Humility 謙虛 – be humble and modest</li>
       
        </ul>
    </section>
</div>
