.lion-dance-comp {
    background-color: #121212;
}


.lion-dance-text {
    position: relative;
    background-color: #313235;
    color: rgb(243, 235, 235);
    width: 50vw;
    border-radius:3em;
    float: left;
}

.lion-dance-pics {
    position: relative;  
      background-color: #121212;
    width: 50vw;
    height: 100vh;
    float: right;
}