.lion-dance-comp {
    width: 100%;
}


.lion-dance-text {
    position: relative;
    background-color: chartreuse;
    width: 50vw;
    float: left;
    
}

.lion-dance-pics {
    position: relative;  
    background-color: blue;
    width: 50vw;
    height: 100%;
    float: right;
}