<div class="lion-dance-comp">
    <div class="lion-dance-text">
        <h2>Lion Dance</h2>
        <p>
            Lion dance (醒獅) has been part of Chinese culture for thousands of years, 
            dating back to the Han Dynasty (205 BC to 220 AD), where it was primarily 
            performed in a religious ceremony.  Today, it continues to be performed at 
            special events such as Chinese New Year, festivals, weddings, and business 
            openings.  By having the lion do the blessings, it is believed to ward off 
            evil spirits, and bring happiness, luck, and prosperity to the people and 
            businesses.
        </p>

        <p>
            Although there are many kinds of lion dance, we do specifically the southern lion 
            dance.  Southern lion dance is popular in southern China and Southeast Asia, 
            such as Hong Kong, Taiwan, Macao, Malaysia, Vietnam, Thailand, and Singapore.  
            Traditionally, the southern lion dance troupes were performed by martial artists 
            of various kung fu schools.  The lion dances to the beat of a large drum, a gong, 
            and cymbals.  The lion requires two dancers, one in the front handling the head, 
            eyes, ears, mouth, while the other in the back handling the tail.  It is quite 
            different than a dragon dance which requires over 10 people to perform. The lion 
            dancers must have good strength, power, stamina, flexibility, and balance in 
            order to fulfill such a task.  A Buddha (大頭佛) may be used to tease the lion 
            with a fan, guide the lion in a crowd, direct the lion to the red envelope (紅包), 
            or spot the dancers during a high acrobatic stunt.  Hung Gar practitioners were 
            well known for their lion dance performance.  The legendary Wong Fei Hung first 
            encountered his last wife at a lion dance performance.  
            One of his shoes flew out of his feet during a performance and hit, which later 
            became his last wife Mok Gwei Lan (莫桂蘭)’s face.
        </p>

        <p>
            We offer class for lion dance every Sunday.  We encourage all of our students 
            to participate in the lion dance practice as this can strengthen their gung (功).  
            As a current student, there is no charge in learning this traditional art.  
            A student begins by learning musical instruments first such as the cymbal and 
            gong.  Depending on the student’s body type and interest, he or she can go on 
            to learn either to play the drum, manipulate the head, or maneuver the tail 
            of the lion.  Lastly, the student can also learn the movements of the Buddha.  
            Once the student is proficient in this art, he or she can join the lion dance 
            troupe to perform in various events throughout the year.
        </p>

        <p>
            Our price of the performance varies depending on the number of lions that is 
            required, the place of the performance (outdoor or indoor), the distance of 
            the event from our location, and the amount of time it takes from start to finish. 
             If you are interest in booking a lion dance performance, please contact us.
        </p>



        

    </div>

    <div class="lion-dance-pics">
        <p>testy test</p>
    </div>
</div>
