<div class="home-comp">
    <div class="home-text">
    <p>
        Do not let our school name fool you, we teach traditional Chinese kung fu. 
         We inherited our school name after a failed partnership with a Song Mountain 
         Shaolin instructor.  Now, we follow master Chiu Chi Ling 趙志凌 on the traditional 
         southern Chinese martial arts called Hung Ga 洪家拳.  We focus on both the physical 
         and mental health benefits of the art to achieve the perfect balance.  We teach 
         self-defense, kung fu forms both empty hand and weapons, and Chinese kung fu 
         techniques.  We also teach lion dance which reinforces and complements our kung 
         fu training.  Students also learn both Chinese culture and health cultivation.  
         In the end, what is life without good health.
    </p>

    <p>
        The instructor, Sifu Paul Lee has a bachelor degree in physical education and 
        doctorate in chiropractic. He formally trained in Chinese martial arts for over 
        20 years. He travels to Hong Kong and San Francisco annually to update his 
        knowledge. His current masters include master Chiu Chi Ling 趙志凌 for Hung ga 
        kung fu and master Wan Kin On 溫健安 for lion dance.
    </p>

    
    <p>   
        We have been opened since 2010 and currently accepting new students.  Our fee 
        is affordable and flexible. There is no contract to lock you in.  you can pay 
        month to month or pay 3 months with a discount.  Regardless of your color, 
        gender, fitness level, weigh, or size, we welcome everyone from age 6 to 60.  
        Please contact us for more information.
    </p>

    </div>

    <div class="home-pics">
        <p>placey holds</p>
    </div>
</div>
