nav{ 
    position:sticky;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: #242526;
    display:inline-flex;
    z-index: 5;
    
}

.logo-image{
    position:relative;
    width: 70px;
    height: 70px;
    
}

nav button{
    position:relative;
    top: auto;
    bottom: auto;
   margin: auto 0;
    background-color: rgb(20, 19, 19);
    color: aliceblue;
    height: 50px;
    width: 8em;
   border-radius: 30px;
   
}

