<div class="about-comp">
    <div class="about-text">
        <p>
            You can learn real traditional shaolin kung fu here at the International Shaolin 
            Wushu Center.  Unlike the contemporary wushu that was choreographed by the Chinese
            government and practice mostly for show, our tradition kung fu or sometimes refer 
             to as traditional wushu is practical and has a rich history behind it.  Shaolin kung
             fu is part of an ancient heritage of Chinese culture with a history of more than 
             1,500 years.  This fighting art has been used in the wild west of ancient China 
             where there were no laws and order, to the more recent Triad gangs in the streets
             of Hong Kong.  It is renowned not only for its lethal fighting skills but also for
             its mental discipline. The skills were passed down from one teacher to the next 
             for many generations tracing back to its origin in the shaolin temple. 
             By learning this striking skill, you will be able to protect yourself and 
             your love ones, increase self confidence, increase overall strength, 
             flexibility, stamina, and therefore improve health.  Our school does
             not only focusing on fighting, we also stress on the importance of 
             personal characters, health and culture.  We use kung fu to push you 
             to your limit and develop the best that you can be.  
        </p>

        <p>
    The Shaolin Temple (少林寺) is the birthplace of kung fu. It nestles in the thick forest
     of Mount Songshan (嵩山), one of the five majestic mountains in China.  On top of Mount
      Songshan in the Henan (河南) Province of Central China, there are two characters on 
      the front gate of the temple.  The two characters are 禅 meaning meditation, and 
      武 meaning martial, which both are currently hanging in our school.  The former 
      character focuses on calming the mind (yin) and the latter promotes physical 
      strength (yang).  These two perceive opposites, but together it achieves peace 
      and balance in the body and mind.  When mentioning the Shaolin Temple, Shaolin Kung 
      Fu always come to mind.  The history of kung fu originates in China at the Shaolin 
      Temple.  Kung fu means hard work in Chinese.  It is not meant for the weak of heart. 
      To achieve success in this fighting skill, one needs to sacrifice not just money, but 
      sweat, pain, and most importantly time.  This art cannot be achieved overnight but the 
      benefit is infinite.  
</p>         
</div>

<div class="about-pics">
<p>Boo!</p>
</div>
</div>