html{
    position: absolute;
    
    
    
}
body{
    position: relative;
    background-color: #121212;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin: -8px;
   
}


.view-section{
    position:relative;
    background-color: #121212;
    width: 100vw; 
    top: -4px;
    height:auto;
    overflow: hidden;
    text-indent: 3em;
    text-align: center;
    padding:0.4rem;
    
}

