html{
    position: absolute;
    
    
    
}
body{
    position: relative;
    background-color: black;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin: -8px;
   
}


.view-section{
    position:relative;
    background-color: dimgrey;
    width: 100vw; 
    top: -4px;
    height:auto;
    overflow: hidden;
    
}