<div class="lineage-comp">

<div class="lineage-text">
    <section>
        <h2>Bodhidarma 達摩</h2>
        <div>
            <img>
            <p>
                According to legend, an influential Indian monk named Bodhidarma (達摩) 
                or Damo took a pilgrimage from India up to China in hopes of promoting 
                Buddhism.  After many stops, he decided to take refuge in the Shaolin 
                Temple in 527 A.D. There, he spend nine years in a cave practicing deep 
                meditation, and later started the Chan 禪 Buddhism in China. During this 
                time, he is said to have taught a series of external exercises called the 
                Eighteen Arhat Hands 十八羅漢手 and an internal stretching movements called 
                the Sinew Changing Classic (易筋經) to enhance the physical and mental health 
                of the monks after long periods of meditation. Over the years, Shaolin Kung fu 
                has developed into a highly complicated and disciplined art of self defense. 
                Bodhidarma was also referred to as the father of Kung Fu.
            </p>
        </div>
    </section>

    <section>
        <h2>Hung Hei Kwun 洪熙官</h2>
        <div>
            <img>
            <p>
                The Shaolin Temple in Henan was destroyed by fire in 1570. The most skillful 
                monks escaped to the Shaolin Temple of Fukien 福建. These monks brought with 
                them the martial art books from Henan. Shaolin Temple of Fukien grew greater 
                in status as a result, and yet Shaolin Temple in Henan never regained its 
                previous prestige after it was rebuilt.
            </p>

            <p>
                During the Ching Dynasty 清朝 (1644 – 1911), the Shaolin Temple maintained a 
                neutral position on most political issues. However, the cruel policies of the 
                Ching Dynasty had changed the position of the Shaolin Temple. It started to 
                allow Ming Dynasty loyalist to take refuge in the temple, and trained some of 
                them Shaolin martial arts. The martial arts of the Shaolin Temple were only 
                known and taught to its own warrior monks, and never to laymen. When the Ching 
                Government found out that the Shaolin Temple of Fukien harbored Ming明 
                loyalists, they brought cannons, guns, and arrow fire to destroy the temple. 
                After much attempt to defend the monastery, the monks were outnumbered and 
                out gunned. Only about 30 survivors were able to escape the burning temple. 
                The southern Shaolin Temple in Fukien was burned down completely to the ground 
                in 1734. It was not rebuild until sometimes in the 1970’s.
            </p>

            <p>
                Hung Hei Kwun (1725 – 1814), a tea merchant who abandoned his business due 
                to a dispute with the Ching officials and came to the Shaolin Temple of Fukien 
                for refuge. A Shaolin monk name Gi Sin Sim Si 至善禪師 was one of the Five Elders 
                who escaped the burning of the northern Shaolin Temple in Henan and escaped to 
                the southern Shaolin Temple in Fukien. While teaching at the Temple, monk Gi Sin 
                was responsible in teaching the “outsider” (non monk). Beside Hung Hei Kwun, 
                Monk Gi Sin also taught Luk Ah Choy 陸阿采 and Fang Shi Yu方世玉. These are the 
                few among those who fled the southern temple due to the raid from the Ching 
                government.
            </p>


            <p>
                After hiding in the red junk as a cook for some time, Hung Hei Kwun finally opened 
                his own school and named his style Hung Ga Keun 洪家拳. Hung Hei Kwun was trying 
                to conceal the true origin of this shaolin art from the Ching government. 
                Luk Ah Choy was asked by monk Gi Sin Sim Si to further develop his skill and 
                also assist Hung Hei Kwun with his new school, which already was well known 
                in southern China. Later Luk was requested to spread the art of Hung Ga Kuen 
                in Canton廣州. There Luk Ah Choy taught Wong Tai 黃泰 (1782 – 1867) and his son 
                Wong Kay Ying 黃麒英 (1810 – 1886). Wong Kay Ying became one of the “Ten Tigers 
                of Canton 廣州十虎”. Besides being a good martial artist, Wong kay Ying also was 
                an excellent Traditional Chinese Medicine Doctor. He later passed down all his 
                knowledge to his famous son Wong Fei Hong.
            </p>
        </div>
    </section>

    <section>
        <h2>Wong Fei Hong 黃飛鴻</h2>
        <div>
            <img>
            <p>
                Wong Fei Hung (July 9, 1847 – March 25, 1924) is a legendary hero in the martial 
                art field. His life story became the subject of over one hundred movies, television 
                shows, and radio programs. There are museums dedicated just on him and his art. 
                Wong Fei Hung was born in the Fushan 佛山 district of China. At first Wong Fei 
                Hung’s father was reluctant to teach him Hung-Gar, but his martial arts training 
                soon began by his father’s teacher, Luk Ah Choi. Luk Ah Choi taught Wong Fei Hung 
                the basics of Hung Gar Kuen. Later, Wong Kay Ying took over his son’s training. 
                By his early 20’s, Wong Fei Hung had made a name for himself as a dedicated 
                physician and a martial arts prodigy. In addition to becoming a master of Hung 
                Gar Kuen, he created the tiger & crane set, and added fighting combinations now 
                known as the “Ten Forms Fist / Sup Ying Kuen十形拳”, which consisted of 10 
                individual fighting sets: Dragon, Tiger, Crane, Snake, Leopard, Wood, Metal, 
                Earth, Fire, and Water. Wong Fei Hung was also skilled with many weapons, especially 
                the long wooden staff, flying dart, and the southern tiger fork. On one occasion, he 
                used the staff to defeat a gang of thirty men on the dock of Canton. He was also famous 
                in his lion dance which he was named the king of lion dance in Canton 廣州獅王. He also 
                protected the weak and poor from both criminal gangs and corrupt government officials.
            </p>
        </div>
    </section>

    <section>
        <h2>Lam Sai Wing 林世榮</h2>
        <div>
            <img>
            <p>
                Lam Sai Wing (1860 – 1943) was training kung fu at an early age, taught by his 
                grandfather. He later continued his training with several other teachers until 
                age 22. Then, Lam Sai Wing became a student of Wong Fei Hung for more than 20 
                years. He later opened a school in Canton and then Hong Kong. He was believed 
                to have taught over 10,000 students including the Chinese military in his lifetime. 
                Lam Sai Wing spend most of his life spreading, preserving, and teaching Hung Gar 
                Keun. He was the first person who wrote and published the first set of Hung Gar 
                Keun books for the general public.
            </p>

            <p>
                Due to his well known martial arts reputation, Lam Sai Wing was challenged by many 
                martial artists including an “iron head” monk, rival instructors, and jiu jitsu 
                champion. Of the numerous incidents which involved Lam Sai Wing’s kung fu skill, 
                none was more famous than the fight took place at the Lok Sin Theater 樂善劇院. 
                He and few other kung fu brothers were sabotaged when they went into the theater. 
                Over one hundred rival clans with weapons locked the doors inside the theater 
                with the intention of killing Lam Sai Wing and his kung fu brothers. The story 
                goes that Lam Sai Wing destroyed the lighting system and backed to a corner of 
                the theater; therefore, he only was fighting 1 or 2 people at a time. He fought 
                all night and came away unharmed, whereby dozens of the rival clan were sent to 
                the hospital the next morning.
            </p>
        </div>
    </section>

    <section>
        <h2>Chiu Kao 趙教</h2>
        <div>
            <img>
            <p>
                Chiu Kao (1895 – 1995) was born in the Guangdong Province, China. His family 
                was very poor. At the age of 12, his uncle took him to Malaysia to work as a 
                miner. As we all know even to this day, mining work was dangerous, labor 
                intensive, filthy, and low wage. Later, Chiu Kao also travelled to Indonesia 
                and Singapore for work. In Singapore, he had witnessed a public challenge match 
                between a well-known internal stylist and a Hung Ga martial artist. The fight 
                ended quickly as the Hung Ga master knocked down his opponent. This event 
                inspired Chiu Kao to learn not just any kung fu, but only Hung Ga kung fu. 
                He learned from this master whose name was Long Jai Yuk for many years in 
                Singapore before moving back to his hometown in China. That is when he met 
                his wife Siu Ying (1904 – 2002), who was also came from a family of well known 
                martial artists. Later the two decided to settle in Hong Kong where they both 
                continued their training in Lam Sai Wing’s school. They finally opened their 
                first school and clinic in Hong Kong in 1935, but had to close for a few years 
                due to the Japanese invasion in World War II. They retreated back to their 
                hometown in China to work as Dit Da 跌打doctors. The couple had 5 children, 
                which two (Chiu Chi Ling 趙志凌and Chiu Wai 趙威) of whom continue teaching 
                Chiu family Hung Ga.  Although Chiu Wai has retired from teaching, he had 
                appointed a successor to continue teaching in his school in Hong Kong.
            </p>
        </div>
    </section>

    <section>
        <h2>Chiu Chi Ling 趙志凌</h2>
        <div>
            <img>
            <p>
                Chiu Chi Ling 趙志凌 (1943-        ) started practicing Hung Ga kung fu when 
                he was six years old under the tutelage of his father Chiu Kau and mother Shiu 
                Ying. His parents were both well-known doctors. His mother Shiu Ying was an 
                internal Chinese medicine doctor, and his father was a good bone setter. 
                Beside the art of kung fu, Chiu Chi Ling also learned bone setting from his 
                father. By the early 1970s, Chiu Chi Ling had opened 2 schools in Hong Kong, 
                attracting many celebrities, athletes and performers. This exposure to the 
                entertainment industry gave him his start in acting. He appeared in over 70 
                movies, both as an actor, choreographer, and stunt man. He was starred in many 
                well-known kung fu movies such as Snake in the Eagle’s Shadow 蛇形刁手, Duel of 
                the Seven Tigers 六合千手, Kung Fu Hustle 功夫, Journey to the West 西遊·降魔篇, 
                The Mermaid 美人魚. He currently teaches Hung Ga kung fu at Chiu Chi Ling Hung 
                Gar Kung Fu Association in San Francisco, and occasionally at the old Chiu Family 
                Kwoon in Hong Kong. Every year he visits his students and grand students around 
                the world, and organizes worldwide Kung Fu tournaments every five years. He 
                currently resides in Alameda, California.
            </p>
        </div>
    </section>
</div>

<div class="lineage-img">
    <p>testy test</p>
</div>

</div>
