.lineage-comp {
    background-color: #121212;
    
}


.lineage-text {
    position: relative;
    background-color: #313235;
    color: rgb(243, 235, 235);
    border-radius:3em;
    width: 50vw; 
    float: left;
    padding: 1rem;
     
}

.lineage-img {
    position: fixed;  
    
    width: 50vw;
    height: 100vh;
    float: right;
    bottom: 0px;
    right: 0px;
    top: 70px;
}