<div class="instructor-comp">
   <div class="instructor-text">
        <section>
            <h2>EDUCATION</h2>
            <ol>
                <li>1995  Doctor of Chiropractic – Logan College of Chiropractic</li>
                <li>1991  Bachelor of Science in Physical Education – Truman State University</li>
            </ol>
        </section>

        <section>
            <h2>CERTIFICATION & AWARDS</h2>
            <ul>
                <li>1995  Licensed Chiropractor in Missouri</li>
                <li>1996  Certified Emergency Medical Technician in Missouri</li>
                <li>1996  Certified Chiropractic Sports Physician</li>
                <li>1999  Board Certified Acupuncturist in Missouri</li>
                <li>2005  Gold Medal in Sparring & Silver Medal in Form
                    Wu Hsing Chuan Five Animal 25th Anniversary Tournament in St Louis, MO</li>
                <li>2008  Medals in Lion Dance Competition
                    1st World Top Kung Fu Championship in Hong Kong</li>
                <li>2013  Master Demonstration
                    5th International Traditional Kung Fu Association in Concord, CA</li>
                <li>2013 Featured in Nov/Dec issue of Kung Fu Tai chi Magazine</li>
                <li>2014  Gold Medal in Empty Hand Form & Gold Medal in Long Weapon Form
                    22nd UC Berkeley Chinese Martial Arts Tournament, Berkeley, CA</li>
                <li>2015  Silver Medal in Empty Hand Form
                    Tiger Claw Elite Championship, San Jose, CA</li>
                <li>2016  Silver team trophy in the International Lion Dance Competition
                    1st Sabah Lion Dance World Challenge Competition, Sabah, Malaysia</li>
            </ul>
        </section>

        <section>
            <h2>PROFESSIONAL MEMBERSHIPS</h2>
            <ol>
                <li>Missouri State Chiropractic Association</li>
                <li>American Chiropractic Association Sports Council</li>
                <li>Board Member in the City of St. Louis Health Department</li>
                <li>International Chiu Chi Ling Hung Ga Kung Fu Association</li>
            </ol>
        </section>

        <section>
            <h2>EXPERIENCE</h2>
            <ol>
                <li>2012 – now    Lion Dance with sifu Wan Kin On in Hong Kong, China</li>
                <li>2008 – now   Hung Ga Gung Fu with Sifu Chiu Chi Ling in San Francisco, CA</li>
                <li>2010 – now   Director & Instructor of International Shaolin Wushu Center, St Louis Missouri</li>
                <li>2010 – 2012   Shaolin Chuan and weapon with Sifu Yan Xue</li>
                <li>2007 – 2010  Chen Style Tai Chi Chuan and Chi Gong with Sifu Goretti Lim</li>
                <li>2004 – 2007  Hung Ga Gung Fu & Lion Dance with Sifu Wayne Judge</li>
                <li>2001 – 2004  Chen Style Taiji Chuan and Chi Gong with Sifu Justin Meehan</li>
                <li>1986 – 2001    Varsity diving team in Truman State University</li>
                <li>1979 – 1986   Street smarts in Riverview Garden School District of Ferguson, MO</li>
                <li>1978 – 1979   Manual labor in the Malaysian refugee camp</li>
                <li>1974 – 1978   Street fights in south Vietnam</li>
            </ol>
        </section>

        <section>
            <h2>OTHER SKILLS</h2>
            <ol>
                <li>Speak fluently in Cantonese Chinese and Vietnamese</li>
                <li>Speak & read minimally in Mandarin Chinese</li>
            </ol>
        </section>
   </div>

   <div class="instructor-img">
        <img src="../../../assets/images/470242_426723047367822_1765840244_o.png">
   </div>
</div>